.input-username{
    margin-bottom: 10px;
}

.box{
    border-radius: 40px;
    background-color: rgb(247, 217, 222);
    padding: 50px;
}

.game-button{
    width: 800px;
    height: 50px;
    border-radius: 6px;
    font-size: 15px;
}

/* vertically show the option in the game */
.game-button-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.result-button-box button{
    vertical-align: middle;
    margin: 20px;
}

.display-logout{
    position: absolute;
    right: 0;
    top: 60px;

}


button {
    border-radius: 10px;
    padding: 30px 20px;
    background-color: rgb(211, 211, 211); /* Light pink background */
    color: black;
    border: none;
    cursor: pointer; /* Pointer cursor on hover */
    height: 40px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: rgb(237, 187, 192); /* Slightly darker pink on hover */
}

button:active {
    background-color: rgb(227, 167, 172); /*darker pink on click */
    transform: scale(0.95); /* shrink button when clicked */
}
