.input-username{
    margin-bottom: 10px;
}

.box{
    border-radius: 40px;
    background-color: rgb(249, 196, 204);
    padding: 50px;
}

.game-button{
    width: 800px;
    height: 50px;
    border-radius: 6px;
    font-size: 15px;
}

/* vertically show the option in the game */
.game-button-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.result-button-box button{
    vertical-align: middle;
    margin: 20px;
}

.display-logout{
    position: absolute;
    right: 0;
    top: 60px;
}

.empty{
    height: 90px;
}
button {
    border-radius: 10px;
    padding: 30px 30px;
    background-color: rgb(211, 211, 211); /* Light pink background */
    color: black;
    border: none;
    cursor: pointer; /* Pointer cursor on hover */
    height: 40px;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
    background-color: rgb(235, 138, 148); /* Slightly darker pink on hover */
    transform: scale(1.1);
}

button:active {
    background-color: rgb(227, 167, 172); /*darker pink on click */
    transform: scale(0.95); /* shrink button when clicked */
}

.h-button {
    width: 150px; /* Increased horizontal size */
    height: 100px;
    border-radius: 20px; 
    font-size: 16px;
    background-color: rgb(211, 211, 211); 
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s, background-color 0.2s; /* Add hover animation */
}

.h-button:hover {
    transform: scale(1.1); /* Slight zoom effect */
    background-color: #191d19; /* Darker green on hover */
    color: white;
}