div, button {
    text-align: center;}

body {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Sofadi One'; /*from google fonts*/
    }

td{
    text-align: center;
}

button{
    font-family: 'Sofadi One';
    border-radius: 20px;
    margin: 5px;
    padding:5px;
    background-color: pink;
}

